*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: #f8f8f8;
    display: center;
    align-items: center;
    justify-content:space between;
    display: inline-flex;
}
.container{
    width: 400px;
    height: 60vh;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.4);
}
.header h1{
    margin-top: 5%
    color: white;
    padding: 15px;
}
#header{
    color: white;
}
.message{
    background-color: dodgerblue;
    padding: 10px;
    color: white;
    width: fit-content;
    border-radius: 10px;
    margin-bottom: 15px;
}
.user_message{
    margin-left: auto;
    background-color: white;
    color: black;
}
form input{
    flex: 1;
    height: 40px;
    border: none;
    outline: none;
    padding-left: 5px;
    font-size: 16px;
    display: block;
    display: flex;
}
form button{
    width: 100px;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: dodgerblue;
    color: white;
}
.chatroom{
    margin-left: 210%;
    margin-top: -90%;
    color: white;
}
.sccontainer{
    width: 400px;
    height: 45vh;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.4);
    margin-left: 600px;
    margin-top: -230px;
    
}
.online{
    color: white;
}
.impact{
    color: silver;
}
.ghost{
    color: silver;
}
.header{
    color: white;
}
.owner{
    color: red;
}
.connection{
    margin-left: 1300px;
}
.footer{
    margin-top: 350px;
    display: block;
}
.githubLogo{
    margin-left: 900px;
}